@import "main.scss";

.archive {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;

  h1 {
    font-size: 3rem;
  }

  article {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    gap: 2rem;

    .explorer-section {
      height: 100%;
      display: flex;
      flex-direction: column;

      .top-bar {
        height: 3rem;
        display: flex;
        border-bottom: 1px solid $gray;

        .divider {
          flex-basis: 3rem;
          border-right: 1px solid $gray;
        }

        .empty-space {
          flex-basis: 95%;
          display: flex;
          align-items: center;

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: $gray2;
            font-size: 1.25rem;
            padding: 0 1rem;
          }
        }
      }

      .file-explorer {
        height: 100%;
        display: flex;

        .side-bar {
          flex-basis: 3rem;
          border-right: 1px solid $gray;
        }

        .explorer {
          background-color: $bgcolor;
          flex-basis: 95%;
          color: $black1;

          .file {
            cursor: pointer;
            user-select: none;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid $gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.25rem;

            .close:hover {
              background-color: $gray;
              border-radius: 100%;
            }

            div {
              display: flex;
              gap: 0.5rem;
              align-items: center;
            }

            img {
              width: 2rem;
              height: 2rem;
            }
          }

          .folder {
            cursor: pointer;
            user-select: none;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid $gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.25rem;

            div {
              display: flex;
              align-items: center;
              gap: 0.75rem;
            }

            .close:hover {
              background-color: $gray;
              border-radius: 100%;
            }

            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }

    .file-upload {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      flex-basis: 10%;

      .file-select {
        background-color: $secondary;
        color: $bgcolor;
        padding: 1rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0.5rem;
      }

      .upload-button {
        padding: 1rem;
        background-color: $primary;
        color: $bgcolor;
        border-radius: 0.5rem;
        flex-basis: 10%;
        cursor: pointer;
      }

      div {
        border: 1px solid $gray;
        padding: 1rem;
        height: 100%;
        flex-basis: 60%;
        border-radius: 0.5rem;
        color: $gray2;
      }



      span {
        width: 2.5rem;
        height: 2.5rem;
        border: 7px solid $gray;
        border-top: 7px solid $primary;
        border-radius: 100%;
        
        animation: spin 1s linear infinite;
      }
    }
  }
}

.admin {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  aside {
    overflow: hidden;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    background-color: $primary;

    .profile {
      padding: 1rem;
      flex-basis: 8%;
      color: #eeeeee;

      display: flex;
      align-items: center;
      background-color: $primary2;

      h1 {
        color: $bgcolor;
        font-weight: 400;
        font-size: 1.25rem;
      }
    }

    ul {
      flex-basis: 92%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        padding: 1rem;
        flex-basis: 5%;
        color: $bgcolor;
        font-size: 1.25rem;
        cursor: pointer;
      }

      li:hover {
        background-color: $primary2;
        border-radius: 0.25rem;
      }

      .activeTab {
        background-color: $tertiary !important;
        border-radius: 0.25rem;
      }
    }

    button {
      padding: 1rem;
      background-color: $primary2;
      font-size: 1.25rem;
      color: $bgcolor;
      cursor: pointer;
    }

    button:hover {
      background-color: $tertiary;
    }
  }

  .tab {
    flex-basis: 85%;
    padding: 5%;
    background-color: $bgcolor;
  }
}
