$bgcolor: #EEEEEE;
$primary: #002747;
$primary2: #00345f;
$secondary: #e59d2c;
$tertiary: #0E7995;

$black1: #101010;
$gray: #c3c3c3;
$gray2: #9c9c9c;
$error: #E40613;

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.hidden {
    display: none !important;
}

.error-text {
    color: $error;
    font-style: italic;
}

footer {
    height: 10vh;
    background-color: $bgcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-top: 2px solid $gray;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.delete-modal {
    font-family: "Golos Text", sans-serif;
    background-color: rgb(0,0,0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        border-top: 4px solid $error;
        background-color: $bgcolor;
        width: 30%;
        height: 28%;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            text-align: center;
            font-size: 1.5rem;
            color: $error;
        }

        h3 {
            text-align: center;
            color: $black1;
        }

        .button-section {
            display: flex;
            justify-content: space-between;

            button {
                border-radius: 0.5rem;
                padding: 1rem 4rem;
                color: white;
                cursor: pointer;
                border: 1px solid $gray2;

                button:hover {
                    filter: brightness(75)
                }
                
            }

            .yes-button {
                background-color: $error;
            }

            .no-button {
                background-color: $gray2;
            }
            
        }

    }
}

@media only screen and (max-width: 1200px) {
    .modal {
        width: 50%;
        height: 50%;
    }
}