$bgcolor: #EEEEEE;
$primary: #002747;
$secondary: #e59d2c;
$tertiary: #0E7995;

$gray: #c3c3c3;

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}