@import "main.scss";

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $bgcolor;

    span {
        width: 11rem;
        height: 11rem;
        background-color: $bgcolor;
        border: 1.5rem solid $primary2;
        border-top: 1.5rem solid $primary;
        border-right: 1.5rem solid $secondary;
        border-bottom: 1.5rem solid $tertiary;
        border-radius: 100%;
        animation: spin 1s linear infinite;    
        
    }
}

.restricted-container {
    background-color: $bgcolor;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        h1 {
            text-align: center;
            font-size: 3.5rem;
            color: $error;
        }

        h3 {
            font-size: 2rem;
            color: #4949496d;
        }
    }

    button {
        background-color: $error;
        color: $bgcolor;
        padding: 1.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        
        cursor: pointer;


    }

}