@import "main.scss";

.restricted-container {
    background-color: $bgcolor;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        h1 {
            text-align: center;
            font-size: 2.5rem;
            color: $error;
        }

        h3 {
            font-size: 1rem;
            font-weight: 100;
            color: #4949496d;
        }
    }

    button {
        background-color: $error;
        color: $bgcolor;
        padding: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        
        cursor: pointer;


    }

}